{% extends "bootstrap/base.html" %}
{% block styles -%}
{{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.css') }}">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css" />-->
{% endblock styles %}
{% block scripts %}
  {{super()}}
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/dataTables.min.js') }}"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>-->
    <<script type="text/javascript"
         src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/german_map.js') }}"></script>
    <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $(document).ready( function (callback) {
            initialize_german_map();
            var city_table = $('#table_id').DataTable({
                "processing": false,
                "serverSide": false,
                "rowId": 'id',
                "ajax": {

                    "url": $SCRIPT_ROOT + "/testdb",
                    "type": "POST"
                },
                "columns": [
                    {"data": "stadt"},
                    {"data": "plz"}
                ]
            });
            $("#check-all_cities").click(function () {
                console.log("change")
                isChecked = $("#check-all_cities").is(':checked');
                console.log(isChecked);
                if (isChecked) {
                    $.ajax({
                        method: "POST",
                        url: "/mark_all_city",
                        contentType: 'application/json;charset=UTF-8'
                    }).done(function (msg) {
                        console.log(msg)
                        geocodes = JSON.parse(msg);
                        for (c_index = 0; c_index < geocodes.length; c_index++) {
                            mark_city(geocodes[c_index].lng, geocodes[c_index].lat);
                        }
                    })
                }else {
                    clear_all_markers();
                }
            });
            $('#table_id').on('click', 'tbody tr', function () {
                id = city_table.row(this).data().id;
                console.log("id"+ id);
                id = id.split("_")[1];
                data_obj = {'id':id};
                $.ajax({
                    method: "POST",
                    url: "/mark_city",
                    contentType: 'application/json;charset=UTF-8',
                    data: JSON.stringify(data_obj)
                }).done(function( msg ) {
                    geocode = JSON.parse(msg)
                    console.log(german_map)
                    mark_city(geocode.lng, geocode.lat)
                });
            });
    } );</script>
{% endblock %}

<head>
{% block navbar %}
<div class="navbar navbar-default navbar-static-top">
  {{nav.top.render()}}
</div>
{% endblock navbar %}
</head>
<body>
{% block content %}
{% endblock content %}
</body>
